<footer class="flex items-center justify-between pt-4 bg-cyan-950 leading-none">
  <div>
    <img
      class="w-full max-w-20 h-auto"
      src="./assets/images/logo-transparente.png"
      alt="Logo Jornadas Seguridad"
    />
  </div>
  <div class="flex items-center justify-around w-7/12">
    <a
      class="footer__paginas footer__paginas--small font-bold text-white hover:text-yellow-500 hover:border-b-2 hover:opacity-90 hover:border-yellow-500"
      href="#"
      >Inicio</a
    >
    <a
      class="footer__paginas footer__paginas--small font-bold text-white hover:text-yellow-500 hover:border-b-2 hover:opacity-90 hover:border-yellow-500"
      href="./speakers.html"
      >Speakers</a
    >
    <a
      class="footer__paginas footer__paginas--small font-bold text-white hover:text-yellow-500 hover:border-b-2 hover:opacity-90 hover:border-yellow-500"
      href="./prensa.html"
      >Prensa</a
    >
    <a
      class="footer__paginas footer__paginas--small font-bold text-white hover:text-yellow-500 hover:border-b-2 hover:opacity-90 hover:border-yellow-500"
      href="#"
      >Contacto</a
    >
  </div>
  <div class="footer__redes flex flex-col justify-end h-full">
    <ul class="footer__ul flex flex-row justify-end p-1">
      <li class="footer__li pt-1 pb-1 pr-2 pl-2">
        <a class="footer__a inline-block" href="#"
          ><i
            class="fa-brands fa-google-plus-g footer__red-social pr-2 pl-2 align-middle hover:opacity-70 text-cyan-500"
          ></i
        ></a>
      </li>
      <li class="footer__li pt-1 pb-1 pr-2 pl-2">
        <a class="footer__a inline-block" href="#"
          ><i
            class="fa-brands fa-facebook-f footer__red-social pr-2 pl-2 align-middle hover:opacity-70 text-cyan-500"
          ></i
        ></a>
      </li>
      <li class="footer__li pt-1 pb-1 pr-2 pl-2">
        <a class="footer__a inline-block" href="#"
          ><i
            class="fa-brands fa-twitter footer__red-social pr-2 pl-2 align-middle hover:opacity-70 text-cyan-500"
          ></i
        ></a>
      </li>
    </ul>
  </div>
</footer>
