<footer
  class="flex items-center justify-between pt-4 bg-dark-color leading-none"
>
  <div>
    <img
      class="w-full max-w-14 h-auto sm:max-w-20"
      src="./assets/images/logo-transparente.png"
      alt="Logo Jornadas Seguridad"
    />
  </div>
  <div class="flex items-center justify-around w-7/12">
    <a
      class="font-bold text-primary-text-emphasis hover:text-accent-color hover:border-b-2 hover:opacity-90 hover:border-accent-color text-sm sm:text-base"
      href="#"
      >Inicio</a
    >
    <a
      class="font-bold text-primary-text-emphasis hover:text-accent-color hover:border-b-2 hover:opacity-90 hover:border-accent-color text-sm sm:text-base"
      href="./speakers.html"
      >Speakers</a
    >
    <a
      class="font-bold text-primary-text-emphasis hover:text-accent-color hover:border-b-2 hover:opacity-90 hover:border-accent-color text-sm sm:text-base"
      href="./prensa.html"
      >Prensa</a
    >
    <a
      class="font-bold text-primary-text-emphasis hover:text-accent-color hover:border-b-2 hover:opacity-90 hover:border-accent-color text-sm sm:text-base"
      href="#"
      >Contacto</a
    >
  </div>
  <div class="flex flex-col justify-end h-full">
    <ul class="flex flex-row justify-end p-1">
      <li class="pt-1 pb-1 pr-2 pl-2">
        <a class="inline-block" href="#"
          ><i
            class="fa-brands fa-google-plus-g pr-2 pl-2 align-middle hover:opacity-70 text-blue-500"
          ></i
        ></a>
      </li>
      <li class="pt-1 pb-1 pr-2 pl-2">
        <a class="inline-block" href="#"
          ><i
            class="fa-brands fa-facebook-f pr-2 pl-2 align-middle hover:opacity-70 text-blue-500"
          ></i
        ></a>
      </li>
      <li class="pt-1 pb-1 pr-2 pl-2">
        <a class="inline-block" href="#"
          ><i
            class="fa-brands fa-twitter pr-2 pl-2 align-middle hover:opacity-70 text-blue-500"
          ></i
        ></a>
      </li>
    </ul>
  </div>
</footer>
