<header
  class="flex items-center justify-between pl-10 pr-10 bg-cyan-950 leading-none"
>
  <a
    class="pl-10 pr-10 font-bold text-yellow-500 header__paginas header__paginas--logo"
    href="#"
    ><img
      class="w-full max-w-20 h-auto"
      src="./assets/images/logo-transparente.png"
      alt="Logo Jornadas Seguridad"
  /></a>

  <div class="flex items-center justify-end">
    <a
      class="ml-10 mr-10 font-bold text-white hover:text-yellow-500 hover:border-b-2 hover:opacity-90 hover:border-yellow-500 header__paginas header__paginas--small"
      href="./speakers.html"
      >Speakers</a
    >
    <a
      class="ml-10 mr-10 font-bold text-white hover:text-yellow-500 hover:border-b-2 hover:opacity-90 hover:border-yellow-500 header__paginas header__paginas--small"
      href="./prensa.html"
      >Prensa</a
    >
    <a
      class="ml-10 mr-10 font-bold text-white hover:text-yellow-500 hover:border-b-2 hover:opacity-90 hover:border-yellow-500 header__paginas header__paginas--small"
      href="#"
      >Contacto</a
    >
  </div>
</header>
